.ui-grid-header-cell-wrapper {
    height: auto;
}

.highlight {
  background-color: #00274c;
  color: #ffcb05;
}
.ui-grid-contents-wrapper {
    height: auto;
}

.ui-grid {
    border: none;
}

.content {
    width: 90%;
    background-color: #ededed;
    margin: 0 auto;
    height: 100%;
}

#contentView {
    width: 90%;
    background-color: white;
    margin: 0 auto;

}

.listEmployees, .employeelist {
    padding: 10px;
}

.mainContainer {
    height: 100%;
    width: 100%;
    background-color: #ededed;
}

.details {
    width: 60%;
    height: auto;
    padding: 20px;

}

.tableContent {
    padding: 0px 20px;
    height: 100vh;

}