<div class="tableContent">
    <div class = "listEmployees">
    <h3> List of Employees
    </h3>

    <table class="table table-default">
        <th ng-repeat="header in colHeaders">{{ header }}</th>
        <tr ng-repeat="x in myTableData" ng-click="openDetails(x)" ng-class="{'highlight': x == selectedRow}">
            <td ng-repeat="header in colHeaders" >
                {{ x[header] }}
            </td>
        </tr>
    </table>
    </div>
    <div class = "employeelist">
    <h3> Employee Details
    </h3>
    <div class="details">

        <div>
            FName: <b><label>{{fname}}</label></b>
        </div>
        <div>
            LName: <b><label>{{lname}}</label></b>
        </div>
        <div>
            Age: <b><label>{{age}}</label></b>
        </div>
        <br/>
        <button type="button" class="btn btn-default">Previous</button>
        <button type="button" class="btn btn-default">Next</button>
    </div>
</div>
</div>