<div class="tableContent">
    <div class="listEmployees">
        <h3> List of Employees
    </h3>

        <table class="table table-bordered">
            <th ng-repeat="header in colHeaders">{{ header }}</th>
            <th>Edit</th>
            <th>Delete</th>
            <tr ng-repeat="x in myTableData track by $index" ng-click="openDetails($index)" ng-class="{'highlight': $index == selectedRow}">
                <td ng-repeat="header in colHeaders">
                    {{ x[header] }}
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalEdit">
                        Edit
                    </button>
<!-- <button type="button" class="btn btn-primary" ng-click = makeItEditable($index)>
                        Edit
                    </button> -->

                </td>
              
                <td>
                    <button type="button" class="btn btn-primary" ng-click = "deleteIt($index)">
           Delete
        </button></td>
            </tr>
        </table>

        <!-- Add New Row Button -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Add Row
        </button>
    </div>

    <!-- Form to Display Table Content -->
    <div class="employeelist">
        <h3> Employee Details
    </h3>
        <form>
            <div class="details">
                <div class="form-group">
                    <label>First Name : </label> <b>{{fname}}</b>
                </div>
                <div class="form-group">
                    <label>Last Name : </label> <b>{{lname}}</b>
                </div>
                <div class="form-group">
                    <label>Age : </label> <b>{{age}}</b>
                </div>
                <br/>
            </div>

            <!-- Button to move up and down -->
            <button type="button" class="btn btn-default" ng-click="moveUp(selectedRow)">Previous</button>
            <button type="button" class="btn btn-default" ng-click="moveDown(selectedRow)">Next</button>
        </form>
    </div>

    <!-- Form modal to add new row -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Row</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" ng-submit="addRow()">
                        <div class="form-group">
                            <label class="col-md-2 control-label">FirstName</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="FirstName" ng-model="firstname" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">LastName</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="LastName" ng-model="lastname" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Age</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="PersonAge1" ng-model="PersonAge1" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div style="padding-left:110px">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" value="Submit"  class="btn btn-primary">Save Row </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#myModal').on('shown.bs.modal', function() {
            $('#myInput').focus()
        })
    </script>
<script type="text/javascript">
        $('#myModalEdit').on('shown.bs.modal', function() {
            $('#myInput').focus()
        })
    </script>

       <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Row</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" >
                        <div class="form-group">
                            <label class="col-md-2 control-label">FirstName</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="Fname" ng-model="fname" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">LastName</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="lname" ng-model="lname" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Age</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="age" ng-model="age" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div style="padding-left:110px">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" value="Submit" ng-submit="editRow(selectedRow)"  class="btn btn-primary">Save Row </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>