
.highlight {
  background-color: #ededed;
  color: black;
}

.content {
    width: 90%;
    background-color: #ededed;
    margin: 0 auto;
    height: 100%;
}

.empTable {
    margin-top: 15px;
}
#contentView {
    width: 90%;
    background-color: white;
    margin: 0 auto;
    overflow-y: scroll;
}

::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

.columnHeaders {
    width: 28%;
}
.actionColumn {
    width: 15%;
}

.employeePageHeader {
    margin-top: 10px;
    color: white;
}

.navbar{
    margin-bottom: 0px;
}

.listEmployees, .employeelist {
    padding: 10px;
}

.mainContainer {
    height: 100%;
    width: 100%;
    background-color: #ededed;
}

.details {
    width: 60%;
    height: auto;
    padding: 20px;

}

.tableContent {
    padding: 0px 20px;
    height: 100vh;

}

.editIcon , .deleteIcon {
    text-decoration: none;
}

.deleteIcon {
    color:red;
    margin-left: 20px;
}

.editIcon {
    color: orange;
}